@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --btn-primary-color: linear-gradient(90deg, rgb(21, 67, 152) 0%, rgb(237, 17, 23) 100%);
  --active-icon-color: linear-gradient(90deg, #154398 0%, #ED1117 100%);
}

.ant-card-head-title {
  font-size: 24px;
  font-weight: 600;
  color: #154398;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}
/* 
:global(.ant-modal-title) {

} */

.ant-modal-content {
  .ant-modal-header {
    .ant-modal-title {
      font-size: 24px;
      font-weight: 600;
      color: #154398;
    }
  }
}
/* 
#idTable {
}  */

.ant-modal-body {
  thead {
          tr {
              th {
                  background-color: #154398;
                  color: #fff;
                  text-align: center;
              }
          }          
      }
  }

  .ant-btn-primary {
    background: #154398;
  }